body{
    background-image: linear-gradient(black, blue);
    color: #fff;
    font-family: 'Noto Sans Devanagari', 'Noto Sans Tamil', 'Noto Sans', 'Noto Sans Symbols 2', sans-serif;
}

h1{
    font-size: 10vh;
}

h2{
    font-size: 5vh;
    background-color: rgba(208, 27, 27, 0.508);
}

img{
    width: 200px;
}

img:hover{
    transform: scale(1.1);
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
    margin-right: 10vh;
}
